html, body {
    height: 100%;
    background: lightgray;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    vertical-align: top;
}

hr {
    margin: 0;
}

.left-pad {
    padding-left: 2.5%;
}

.chat-message {
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
}

.from-self {
    color: blue;
}

.from-other-person {
    color: red;
}

#chat-log {
    display: block;
    width: 100%;
    height: 45em;
    background: white;
    overflow: auto;
}

#chat-message {
    width: 80%;
    margin-right: 2.5em;
}

#user-peer-id {
    font-family: "Courier 10 Pitch", monospace;
}
